<form class="form-horizontal" method="POST">{% csrf_token %}
	<fieldset>
		<div class="control-group">
			<label class="control-label" for="id_title">{{ form.title.label }}</label>
			<div class="controls">
				{{ form.title }}
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="id_category">{{ form.category.label }}</label>
			<div class="controls">
				{{ form.category }}
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="id_content">{{ form.content.label }}</label>
			<div class="controls">
				{{ form.content }}
				
				<p class="help-block">
					{{ form.content.help_text }}
				</p>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="id_published">{{ form.published.label }}</label>
			<div class="controls">
				{{ form.published }}
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="id_tags">{{ form.tags.label }}</label>
			<div class="controls">
				{{ form.tags }}
				
				<p class="help-block">
					{{ form.tags.help_text }}
				</p>
			</div>
		</div>
		
		<div class="form-actions">
			<input type="hidden" name="next" value="{{ next }}" />
			<button class="btn btn-primary" type="submit">Kaydet</button>
			<a href="{% url posts:my_posts %}" class="btn">Geri</a>
		</div>
	</fieldset>
</form>
