{% extends 'main.html' %}

{% block title %} {{ category.name }} {% endblock %}

{% block content %}
	
	<div class="page-header">		
		<h1>{{ category.name }}</h1>		
	</div>
	
	<div class="span8">
		<img src="{{ category.image.url }}" width="64" height="64" /><br />
		
		<b>{{ category.name }}</b> ile ilişkili gönderiler;
		{% if post_list %}
			<ul>
				{% for post in post_list %}
					<li>
						<a href="{{ post.get_absolute_url }}">
							{{ post.title }}
						</a>
					</li>
				{% endfor %}
			</ul>
			
		{% include '_pagination.html' %}
		
		{% else %}
			Maalesef bu kategoriye ait hiç kayıt bulunamadı.
		{% endif %}
	</div>
	
{% endblock %}
