{% extends 'main.html' %}

{% block title %} '{{ q }}' için arama sonuçları {% endblock %}

{% block content %}
	<div class="page-header">
		<h1>
			<strong>
				<i>{{ q }}</i> için arama sonuçları
			</strong>
		</h1>
	</div>
	
	<div class="span8">
		{% if post_list %}
			<ul>
				{% for post in post_list %}
					<li>
						<a href="{{ post.get_absolute_url }}">
							{{ post }}
						</a>
						/
						<a href="{{ post.category.get_absolute_url }}">
							{{ post.category }}
						</a>
						~
						Okunma sayısı
						<span class="badge">({{ post.read_count }})</span>,
						<i>{{ post.created_at }}</i>
						
					</li>
				{% endfor %}
			</ul>
			
			{% include '_pagination.html' %}
		{% else %}
			<h3>Sonuç bulunamadı.</h3>
		{% endif %}		
	</div>
{% endblock %}
