{% extends 'main.html' %}

{% block title %} {{ poll.question }} {% endblock %}

{% block content %}

	<div class="page-header">
		<h1>{{ poll.question }}</h1>
	</div>
	
	<div class="span8">
		
		{% if error_message %}
			<div class="alert alert-error">
				<a class="close" data-dismiss="alert">&times;</a>
				{{ error_message }}
    		</div>
		{% endif %}
		
		{% if vote %}
			Bu ankete oy kullanmışsınız. <i>{{ vote.created_at|timesince }} önce.</i>
			<br />
			Oyunuz <b>{{ vote.choice.choice }}</b>
			
			<br /><br />
			
			<div class="btn-group">
				<a class="btn" href="{% url polls:index %}">Anketler</a>
				<a class="btn" href="{% url polls:results poll.id %}">Anket sonuçlarını gör</a>
		    </div>
			
		{% else %}
		<form action="{% url polls:vote poll.id %}" method="post">{% csrf_token %}
			
			<div class="controls">
				{% for choice in poll.choice_set.all %}
					<label class="radio inline">
						<input name="choice" id="inlineRadio{{ forloop.counter }}" type="radio" value="{{ choice.id }}" />
						{{ choice.choice }}
					</label>
				{% endfor %}
			</div>
			
			<button type="submit" class="btn btn-primary">Gönder</button>
		</form>
		{% endif %}
		
	</div>
{% endblock %}