{% extends 'main.html' %}

{% block title %} Anketler {% endblock %}

{% block content %}

	<div class="page-header">
		<h1>Anketler</h1>
	</div>
	
	<div class="span8">
		{% if poll_list %}
		    <ul>
		    {% for poll in poll_list %}
		        <li>
		        	<a href="{{ poll.get_absolute_url }}">{{ poll.question }}</a>
			        [
			        	<a href="{% url polls:results  poll.slug %}">Sonuçları gör</a>
			        ]
		        </li>
		    {% endfor %}
		    </ul>
		{% else %}
		    <p> Henüz sistemde anket bulunmamaktadır. </p>
		{% endif %}
	</div>
{% endblock %}