<meta charset='utf-8'>

{% block main %}
<a href="/polls"><center><<< ANKETLER >>></center></a>
<a href="/python/blog"><center><<< ANA SAYFA >>></center></a>
<br>

{% if latest_poll_list %}
    <ul>
    {% for poll in latest_poll_list %}
        {{poll.id}} nolu anket uygulaması bulundu.
        <li><a href="/polls/{{ poll.id }}/">{{ poll.question }}</a></li>
        {% for choice in poll.choice_set.all %}
          {{ choice.choice }} 
        <div class="meter-value" style="background-color: #3774A8; width: {{ choice.votes }}%;">
        <div class="meter-text">{{ choice.votes }} oy</div>
    	</div>
{% endfor %}
        <br>
    {% endfor %}
    </ul>
{% else %}
    <p>Hazır anket yok.</p>
{% endif %}
{% endblock %}