{% extends "base.html" %}
<meta charset='utf-8'>
{% block main %}
{% if all_posts %}
<div id="left">
{% for i in all_posts %}
{% if i.post_publish %}
<div class="container">
<div class="post">
<div class="postheader">
<div class="date shadow">
<span class="day">{{ i.post_pubdate }}</span>
<!--<span class="month">September</span>-->
</div>
<span class="month"><img src="/static_media/{{ i.post_author.author_photo }}" alt="author python" width=70px; /></span>
<p class="postinfo">
<span>By <a href="#">{{ i.post_author.author_name }}</a></span>
<!--<span><a href="#">15 Comments</a></span>-->
<!--<span><a href="#">Web Design</a></span>-->
<span><strong>Etiketler: </strong></span>
<span><a href="http://www.google.com/search?domains=www.pythontr.org&sitesearch=www.pythontr.org&kaynak=google-search&q={{ i.post_tags }}">{{ i.post_tags }}</a>,</span>
</p>
</div>
<div class="postcontent"><h2><a href="/python/{{ i.post_category }}/{{ i.post_link }}/">{{ i.post_title }} </a><a href="/python/{{ i.post_category }}/"> / {{ i.post_category }}</a></h2>
<font size="3" face="Verdana" color=#FDD145>
Okunma Sayısı : {{ i.post_read_count }}
</font>
<p>
{% autoescape off %} {{ i.post_body|linebreaksbr|truncatewords:29 }} {% endautoescape %}
<br></br>
<br></br>
<span class="readmore">
<a href="/python/{{ i.post_category }}/{{ i.post_link }}/">Devamını Oku</a>
</span></p>
</div>
</div>

</div>
{% endif %}
{% endfor %}
 
<!--<div class="pagination">-->
<!--<span class="leftalign"><a href="#">Previous</a></span>-->
<!--<span class="rightalign"><a href="#">Next</a></span>-->
<!--<div class="clear"></div>-->
<!--</div>-->
</div>
 
{% else %}

<br></br>
<br></br>
<p>Makale bulunamadi...
<p>
İsterseniz buradan devam edebilirsiniz.....
<p>
{% for i in last_posts %}
{% if i.post_publish %}
	<img src="/static/img/favicon.ico" width=20; ></img> <a href="/python/{{ i.post_category }}/{{ i.post_link }}/">{{ i.post_title }}/ {{ i.post_category }}</a>
<br></br>
{% endif %}
{% endfor %}


{% endif %}
{% endblock %}


{% block lastpost %}
{% if last_posts %}
{% for i in last_posts %}
{% if i.post_publish %}
	<img src="/static/img/favicon.ico" width=20; ></img> <a href="/python/{{ i.post_category }}/{{ i.post_link }}/">{{ i.post_title }}/ {{ i.post_category }}</a>
<br></br>
{% endif %}
{% endfor %}
{% endif %}
{% endblock %}


{% block readcount %}
{% if read_count %}
{% for i in read_count %}
{% if i.post_publish %}
	<img src="/static/img/favicon.ico" width=20; ></img> <a href="/python/{{ i.post_category }}/{{ i.post_link }}/">{{ i.post_title }}/ {{ i.post_category }}/ ({{ i.post_read_count }})</a>
<br></br>
{% endif %}
{% endfor %}
{% endif %}
{% endblock %}
