* {
	padding: 0;
	margin: 0;
}

html {
	display: block;
	height: 100%;
	width: 100%;
	background: url(/static/img/htmlbg.jpg) repeat;
}

body {
	background: url(/static/img/bodybg.jpg) repeat-x;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.88em;
}

#wrap {
	background: url(/static/img/wrapbg.jpg) no-repeat;
	width: 960px;
	margin: auto;
	min-height: 900px;
	margin-bottom: 100px;
}

#topbar {
	height: 18px;
}

#ribbon {
	height: 102px;
}

#header, #sub-headline {
	height: 200px;
	background: #222326;
}

#topnav {
	z-index: 1000;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	border-top: 1px dashed #666;
	border-bottom: 1px dashed #666
}


.nav,.nav * {
	list-style: none;
	margin: 0;
	padding: 0
}

.nav ul {
	position: absolute;
	top: -999em;
	width: 10em
}

.nav ul li {
	width: 100%
}

.nav li:hover {
	visibility: inherit
}

.nav li {
	position: relative;
	display: inline-block;
	zoom: 1; *
	display: inline;
}

.nav a {
	display: block;
	position: relative;
	color: #999 !important;
	text-decoration: none;
	padding: .75em 1em
}

.nav li:hover ul,.nav li.sfHover ul {
	left: 0;
	top: 2.5em;
	z-index: 99
}

.nav a,.nav a:visited,.nav li.active li a {
	color: #333
}

.nav a.sf-with-ul {
	padding-right: 2.25em
}

.nav li ul a.sf-with-ul {
	padding-right: 1em
}


.sf-sub-indicator {
	position: absolute;
	display: block;
	right: .75em;
	top: 1.05em;
	width: 10px;
	height: 10px;
	text-indent: -999em;
	overflow: hidden;
	background: url(/static/img/nav_arrows.png) no-repeat -10px -100px
}

a>.sf-sub-indicator {
	top: .8em;
	background-position: 0 -100px
}

a:focus>.sf-sub-indicator,a:hover>.sf-sub-indicator,a:active>.sf-sub-indicator,li:hover>a>.sf-sub-indicator,li.sfHover>a>.sf-sub-indicator
	{
	background-position: -10px -100px
}

.nav ul a>.sf-sub-indicator {
	background-position: 0 0
}
.sidebar .subnav {
	display: block;
	background-color: #F9F9F9;
	margin-bottom: 30px;
	padding: 25px
}

.sidebar .subnav h2 {
	font-size: 20px;
	font-weight: 400;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #666;
	background-color: #F9F9F9;
	line-height: normal;
	border-bottom: 1px dotted #666;
	margin: 0 0 20px;
	padding: 0 0 14px
}

.sidebar .subnav li {
	margin: 0 0 3px;
	padding: 0
}

.sidebar .subnav ul ul,.sidebar .subnav ul ul ul,.sidebar .subnav ul ul ul ul,.sidebar .subnav ul ul ul ul ul
	{
	border-top: none;
	padding-top: 0
}

.sidebar .subnav a {
	display: block;
	color: #666;
	background: url(/static/img/red_file.gif) no-repeat 10px center #F9F9F9;
	text-decoration: none;
	border-bottom: 1px dotted #666;
	margin: 0;
	padding: 5px 10px 5px 20px
}

.sidebar .subnav a:hover {
	color: #A3443E;
	background-color: #F9F9F9
}

.sidebar .subnav ul ul a,.sidebar .subnav ul ul ul a,.sidebar .subnav ul ul ul ul a,.sidebar .subnav ul ul ul ul ul a
	{
	background: url(/static/img/black_file.gif) no-repeat #F9F9F9
}

.sidebar .subnav ul ul a {
	padding-left: 40px;
	background-position: 30px center
}

.sidebar .subnav ul ul ul a {
	padding-left: 50px;
	background-position: 40px center
}

.sidebar .subnav ul ul ul ul a {
	padding-left: 60px;
	background-position: 50px center
}

.sidebar .subnav ul ul ul ul ul a {
	padding-left: 70px;
	background-position: 60px center
}







ul.nav li:hover li ul,ul.nav li.sfHover li ul,ul.nav li li:hover li ul,ul.nav li li.sfHover li ul
	{
	top: -999em
}

ul.nav li li:hover ul,ul.nav li li.sfHover ul,ul.nav li li li:hover ul,ul.nav li li li.sfHover ul
	{
	left: 10em;
	top: 0
}

.nav li.active a,.nav li:hover,.nav li.sfHover,.nav a:focus,.nav a:hover,.nav a:active
	{
	background: #FDD145
}

.nav li li,.nav li li li {
	background: #eee url(/static/img/bg.png) repeat
}

.nav ul .sf-sub-indicator,.nav ul a:focus>.sf-sub-indicator,.nav ul a:hover>.sf-sub-indicator,.nav ul a:active>.sf-sub-indicator,.nav ul li:hover>a>.sf-sub-indicator,.nav ul li.sfHover>a>.sf-sub-indicator
	{
	background-position: -10px 0
}

.sidebar .subnav ul,#home_featured2 ul,#gallery ul {
	list-style: none;
	margin: 0;
	padding: 0
}





.clear {
	clear: both;
}

#content {
	background: #efefef;
}

#left {
	width: 650px;
	float: left;
	background: #fff;
}

#sidebar {
	width: 300px;
	float: right;
	background: #efefef;
}

#left .container,#sidebar .container {
	padding: 10px;
}

h1#sitename {
	font: bold 2.00em 'American Typewriter', Georgia, sans-serif;
	color: #fff;
	text-shadow: #000 1px 1px 1px;
	display: block;
	padding: 0 0 50px 0;
}

#header ul,#sidebar ul {
	list-style: none;
	display: block;
}

#introtext p {
	font: italic 1.3em Georgia, "Times New Roman", Times, serif;
	color: #ccc;
	display: block;
	padding: 10px 15px 0 15px;
	width: 90%;
	float: left;
	line-height: 1.4em;
}

#introtext h2 {
	display: block;
	padding: 10px 10px 30px 15px;
	width: 100%;
	float: left;
	font: bold italic 1.8em 'American Typewriter', Georgia, sans-serif;
	color: #fff;
	text-shadow: #000 1px 1px 1px;
}

#introtext p span {
	background: #000;
}

#content p {
	line-height: 1.5em;
	margin-bottom: 1.5em;
}

.post {
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: solid 3px #ccc;
}

.post h2 {
	display: block;
	font: bold 1.8em 'American Typewriter', Georgia, sans-serif;
	color: #306;
	margin-bottom: 15px;
}

.postcontent {
	margin-left: 110px;
}

.postheader {
	width: 100px;
	float: left;
}

.postheader .postinfo {
	font-size: 0.80em !important;
	width: 90px;
	padding: 5px;
	display: block;
}

.postheader .postinfo span {
	display: block;
}

a {
	color: #306;
	text-decoration: none;
}

a:visited,a:active {
	color: #4586FF;
	text-decoration: none;
}

.post a:hover {
	color: #000;
	background: #ffc;
}

.postheader .date {
	width: 80px;
	float: left;
	background: #ffffcc;
	padding: 3px;
	margin-bottom: 18px;
}

.postheader .date .year {
	display: block;
	background: #306;
	padding: 3px;
	font-size: 0.8em;
	font-weight: bold;
	color: #fff;
	text-align: center;
}

.postheader .date .day {
	display: block;
	text-align: center;
	padding: 3px;
	font: bold 1.00em 'American Typewriter', Georgia, sans-serif;
}

.postheader .date .month {
	display: block;
	font-size: 0.75em;
	background: #000;
	color: #fff;
	text-align: center;
	padding: 3px;
}

.shadow {
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
}

.readmore a {
	display: inline-block;
	background: #936;
	color: #fff;
	font: bold 0.8em "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding: 2px;
	border: none;
}

.readmore a:visited,.readmore a:active {
	display: inline-block;
	background: #936;
	color: #fff;
	font: bold 0.8em "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding: 2px;
	border: none;
}

#sidebar h2 {
	display: block;
	font: bold 1.8em 'American Typewriter', Georgia, sans-serif;
	color: #4586FF;
	margin-bottom: 15px;
}

#sidebar .categories li {
	display: block;
	height: 29px;
	border-bottom: solid 1px #ddd;
}

#sidebar .categories li a {
	display: block;
	height: 22px;
	padding: 6px 10px 0 10px;
	color: #333;
}

#sidebar .categories li a:visited,#sidebar .categories li a:active {
	display: block;
	height: 22px;
	padding: 6px 10px 0 10px;
	color: #333;
}

#sidebar li a:hover {
	background: #fff;
	color: #000;
}

#sidebar ul {
	margin: 5px 10px 20px 0;
	background: #f4f4f4;
}

#sidebar .latestposts li {
	display: block;
	border-bottom: solid 1px #ddd;
}

#sidebar .latestposts li a {
	display: block;
	padding: 6px 10px 6px 10px;
	color: #333;
}

#sidebar .latestposts li a:visited,#sidebar .categories li a:active {
	display: block;
	height: 22px;
	padding: 6px 10px 0 10px;
	color: #333;
}

.pagination {
	background: #f4f4f4;
	margin: 10px;
}

.pagination span a {
	display: block;
	font: bold 1.2em "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #000;
	padding: 5px;
}

.leftalign {
	float: left;
}

.rightalign {
	float: right;
}

#footer {
	background: #222;
	padding: 15px;
	text-align: center;
	color: #ccc;
}

#footer a {
	color: #fff;
	text-decoration: none;
}

#footer a:visited,#footer a:active {
	color: #fff;
}

#footer a:hover {
	color: #fff;
	text-decoration: underline;
}

#credits {
	font-size: 0.82em;
}

#footer p {
	margin-bottom: 10px;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.formcontainer {
	padding: 20px 20px 10px 0;
}

.formcontainer form {
	padding: 0 15px 0 35px;
}

.formcontainer .field {
	padding: 5px;
}

.formcontainer label {
	display: block;
}

.formcontainer input {
	display: block;
}

.formcontainer textarea {
	display: block;
}

input.txt {
	border: solid 1px #ccc;
	width: 230px;
	padding: 2px;
}

textarea.txt {
	border: solid 1px #ccc;
	width: 230px;
	padding: 2px;
}

#pagebottom {
	font: 11px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

img {
	border: none;
}

img.alignleft {
	margin-right: 10px;
}

img.alignright {
	margin-left: 10px;
}

.post ul {
	list-style: none;
	margin-bottom: 18px;
}

.post ul li {
	display: block;
	padding: 3px 10px 3px 20px;
	border-bottom: dashed 1px #cacaca;
}

.post ol {
	padding-left: 30px;
}

.post ol li {
	padding: 3px 10px 3px 0;
}

blockquote {
	display: block;
	width: 230px;
	float: right;
	font: 18px "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-left: 15px;
	border-bottom: solid 1px #ccc;
	border-top: solid 1px #ccc;
	padding: 10px;
}

blockquote p {
	margin-bottom: 10px !important;
	color: #000 !important;
}