{% extends 'main.html' %}

{% block title %} İletişim {% endblock %}

{% block content %}

	<div class="page-header">
		<h1>İletişim</h1>
	</div>

	<div class="span8">
		
		<form class="form-horizontal" method="POST"> {% csrf_token %}
			<fieldset>
				<legend>İletişim formu</legend>
				
				<div class="control-group">
					<label class="control-label" for="id_title">{{ form.title.label }}</label>
					<div class="controls">
						{{ form.title }}
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="id_email">{{ form.email.label }}</label>
					<div class="controls">
						{{ form.email }}
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="id_web_site">{{ form.web_site.label }}</label>
					<div class="controls">
						{{ form.web_site }}
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="id_content">{{ form.content.label }}</label>
					<div class="controls">
						{{ form.content }}
					</div>
				</div>
				
				<div class="form-actions">
					<input type="hidden" name="next" value="{{ next }}" />
					<button class="btn btn-primary" type="submit">Gönder</button>
					<a href="{% url posts:index %}" class="btn">Geri</a>
				</div>

			</fieldset>
		</form>
		
	</div>

{% endblock %}
