<h2>Merhaba uygulamanızdan haberler var!</h2>

<p>
	Uygulamanıza yeni bir bağlantı eklendi.<br />
	Bağlantıyı onaylamak için veya silmek için aşağıdaki bağlantıyı takip edin.
	
	<br />
	
	{{ site.name }}/admin/links/link/{{ link.id }}/
</p>

<h3>Bilgiler</h3>
<table>
	<tr>
		<th>
			Başlık:
		</th>
		<td>
			{{ link.title }}
		</td>
	</tr>
	<tr>
		<th>
			Adres:
		</th>
		<td>
			{{ link.href }}
		</td>
	</tr>
	<tr>
		<th>
			Kısa açıklama:
		</th>
		<td>
			{{ link.description }}
		</td>
	</tr>
</table>