{% extends "base.html" %}
<meta charset='utf-8'>
{% block main %}
<div id="left">
<div class="container">
<div class="post">
<div class="postcontent"><h2>Bagış Yap</h2>
<p>
<a href="/static/images/para-hesap.jpg">
<img style="margin: 3px; float: left;" src="/static/images/para-hesap.jpg" alt="python" border="0" width="159" height="129">
</a>
PythonTR açık kaynaklı ve ücretsiz yazılımlar sunar. Sunulan hizmetlerin
 devamlılığı için kendi imkanları ile beraber gönüllülerin destegiyle 
giderlerini karşılar.
<br></br>
Sizde eğer bağış yapmak ve sitemize destek vermek isterseniz sitenin
 devamı ve daha iyi duruma gelmesi için katkı sağlamış olursunuz
<br></br>
Açık kaynak felsefesini destekleyen tüm internet kullanıcılarının desteğini bekleriz.

<br></br>
<br></br>
</div>
</div>
</div>
</div>
{% endblock %}
