{% extends "base.html" %}
<meta charset='utf-8'>
{% block main %}
<script type="text/javascript">
// Popup window code
function newPopup(url) {
	popupWindow = window.open(
		url,'popUpWindow','height=500,width=630,left=10,top=10,resizable=no,scrollbars=no,toolbar=no,menubar=no,location=no,directories=no,status=yes')
}
</script>
<div id="left">
<div class="container">
<div class="post">
<div class="postcontent"><h2>İletişim</h2>
<p>
<a href="/static/images/iletisim.gif">
<img style="margin: 3px; float: left;" src="/static/images/iletisim.gif" alt="python-shell" border="0" width="129" height="129">
</a>
Python gibi yeni ve önemli bir dilin gelişiminde Türk Pythoncuların durak noktası
 olan PythonTR yazılım dünyasında heves ve merakı, amaç ve arzuyu
  bir araya getirmek için çalışmaktadır.
  <br></br>
   Bu amaç doğrultusunda vizyonumuz Türkiyede Python' un gelişimine
    katkıda bulunmak, misyonumuz; Python ile yazılım geliştiren mühendis,
     koder ve programcıları bir araya getirmek, problemlere çözüm odaklı yaklaşmaktır.
      Sorumluluk ve projelerinizde görev almak için hiçbir fedakarlıktan kaçmayacağız.
       Daima ekip projelerinde bulunmaya gayret edeceğiz ve sorunlarla mücadele edeceğiz.
  <br></br>

 

        Sizde Python TR de editör, yazar veya kodlayıcı olmak isteyebilirsiniz.
         Bunun için yapmanız gereken aşağıdaki listede belirtilen adreslerden birine 
          özgeçmişiniz ile mail yoluyla başvurmak veya Google Group üzerinden iletişime geçmek.
  <br></br>


Python un önemini kavramış herkezi buraya bekliyoruz...
<br></br>
<br></br>
<center>
<a href="http://twitter.com/#!/pythontr"><img src="/static/img/twitter_newbird_blue.png" alt="twitter python" width=15%; /></a>
<a href="http://www.facebook.com/group.php?gid=244980241949"><img src="/static/img/facebook-logo.png" alt="facebook python" width=15%; /></a>
<a href="https://plus.google.com/117264776132031650394/posts"><img src="/static/img/google_plus_logo.png" alt="google python" width=15%; /></a>
</center>
<br></br>
<center>
<a href="https://github.com/electrocoder"><img src="/static/img/github-logo.png" alt="github python" width=20%; /></a>
<a href="mailto:admin@pythontr.org"><img src="/static/img/gmail-logo.png" alt="gmail python" width=15%; /></a>
<a href="msnim:add?contact=electrocoder@gmail.com"><img src="/static/img/msn-logo.png" alt="msn python" width=15%; /></a>
<a href="https://groups.google.com/forum/#!forum/python-programcilari"><img src="/static/img/my-google-grub.png" alt="google grub python" width=15%; /></a>
</center>

<br></br>
<br></br>
</div>
</div>
</div>
</div>
{% endblock %}
