{% extends "base.html" %}
<meta charset='utf-8'>
{% block main %}
<div id="left">
<div class="container">
<div class="post">
<div class="postcontent"><h2>Visual Python 2.x</h2>
<p>
<a href="/static/images/visual-tkinter-1.png">
<img style="margin: 3px; float: left;" src="/static/images/visual-python-2.png" alt="python-visual" border="0" width="129" height="129">
</a>
Durmadık, dinlenmedik ve Visual Tkinter i geliştirmeye devam
	ettik.
	<br></br>
	Visual Tkinter ın şu anda geldigi 2.0 versiyonunun en kısa
	zamanda Türk Python cular ile buluşması için elimizden geldiğince
	çalışmaktayız. Python Türk programcıların vazgeçilmezi olduğu kadar,
	Visual Tkinter da Python un vazgeçilmezi olacaktır. Zira hızlı kod
	geliştirmek için ve Visual kabiliyetlerin maksimum seviyede kullanımı
	için basit ve güçlü bir IDE ye ihtiyaç vardır.
	<br></br>
	Geldiğimiz noktanın
	bilincindeyiz ve gayretimiz devam ediyor.
<p></p>
<a href="http://sourceforge.net/projects/visualtkinter/files/"
	target="_blank"><img align="center" src="/static/images/download.png" width="69" height="69"></img></a>
<br></br>
<iframe frameborder="0" width="420" height="323" src="http://www.dailymotion.com/embed/video/xeso5y"></iframe><br /><a href="http://www.dailymotion.com/video/xeso5y_visual-python-tkinter-ide-install-r_tech" target="_blank">Visual Python Tkinter IDE (Install, Run)</a> <i>  <a href="http://www.dailymotion.com/macroasm" target="_blank">macroasm</a></i>


<br></br>
<br></br>
</div>
</div>
</div>
</div>
{% endblock %}
