{% extends "base.html" %}
<meta charset='utf-8'>
{% block main %}
<div id="left">
<div class="container">
<div class="post">
<div class="postcontent"><h2>Visual Python 1.x</h2>
<p>
<a href="/static/images/visual-tkinter-1.png">
<img style="margin: 3px; float: left;" src="/static/images/visual-tkinter-1.png" alt="python-visual" border="0" width="129" height="129">
</a>
Visual Tkinter 1.0 sürümü ile eklenen Python 3.x destegi artık
	güncel kütüphanaleri kullanmamıza imkan sağlamaktadır. 
	<br></br>Python ile windows platformunda exe dosyaları oluşturmanın ne kadar zor olduğunu
	bilirsiniz. Visual Tkinter bize bu desteğide sağlıyarak py2exe modulü
	aracılığı ile çarçabuk exe dosyaları hazırlar. Modülün hatasız
	kurulduğundan ve Visual C Runtime dosyalarının sisteminizde
	bulunduğundan eminseniz yapmanız gerekn Ctrl+F5 tuş kombinasyonuna
	basmak. 
	<br></br>Şayet py2exe ile ilgili şüpheleriniz var ise py2exe ve C
	Runtime ile ilgili dosyaları indirip sisteminize kurunuz.
<p></p>
<a	href="http://sourceforge.net/projects/visualtkinter/files/" target="_blank"><img align="center" src="/static/images/download.png" width="69" height="69"></img></a>



<br></br>
<br></br>
</div>
</div>
</div>
</div>
{% endblock %}
