{% extends 'main.html' %}

{% block title %} Şifre Değiştirme {% endblock %}

{% block content %}
	
	<div class="page-header">
		<h1>Şifre değiştirme</h1>
	</div>
	
	<div class="span8">
		<form class="form-horizontal" method="post">{% csrf_token %}
			<fieldset>
				<div class="control-group">
					<label class="control-label" for="{{ form.old_password.html_name }}">{{ form.old_password.label }}</label>
					<div class="controls">
						<input type="password" name="{{ form.old_password.html_name }}" id="{{ form.old_password.html_name }}" class="input-xlarge" />
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="{{ form.new_password1.html_name }}">{{ form.new_password1.label }}</label>
					<div class="controls">
						<input id="{{ form.new_password1.html_name }}" name="{{ form.new_password1.html_name }}" type="password" class="input-xlarge" />
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="{{ form.new_password2.html_name }}">{{ form.new_password2.label }}</label>
					<div class="controls">
						<input name="{{ form.new_password2.html_name }}" id="{{ form.new_password2.html_name }}" type="password" class="input-xlarge" />
					</div>
				</div>
				
				<div class="form-actions">
					<input type="hidden" name="next" value="{{ next }}" />
					<button class="btn btn-primary" type="submit">Kaydet</button>
					<a href="{% url users:settings %}" class="btn">Geri</a>
				</div>
			</fieldset>
		</form>
	</div>
	
{% endblock %}
