{% extends 'main.html' %}
{% load markup %}

{% block title %} {{ tuser.username }} {% endblock %}

{% block content %}
	<div class="page-header">
		<h1>Merhaba</h1>
	</div>
	
	<div class="span8">

		{% if is_me %}
			{% include 'users/_controls.html' %}
		{% endif %}

	    <!--<ul class="thumbnails">
		    <li class="span3">-->
		    	<center>
				    <a href="{{ tuser.get_profile.get_image }}">
				    	<img src="{{ tuser.get_profile.get_image }}" alt="">
				    </a>
			    </center>
		    <!--</li>
	    </ul>-->
		
		<table class="table table-bordered">
			<tr>
				<th>Kullanıcı adım</th>
				<td>{{ tuser.username }}</td>
			</tr>
			<tr>
				<th>Adım</th>
				<td>{{ tuser.first_name }}</td>
			</tr>
			<tr>
				<th>Soyadım</th>
				<td>{{ tuser.last_name }}</td>
			</tr>
			<tr>
				<th>Email adresim</th>
				<td><a href="mailto:{{ tuser.email }}">{{ tuser.email }}</a></td>
			</tr>
			<tr>
				<th>Kayıt tarihim</th>
				<td>{{ tuser.date_joined.date }}</td>
			</tr>
			<tr>
				<th>Web adresim</th>
				<td>
					<a href="{{ profile.web_site }}" target="_blank">
						{{ profile.web_site }}
					</a>
				</td>
			</tr>
			<tr>
				<th>
					Hakkında
				</th>
				<td>
					{{ profile.about|textile }}
				</td>
			</tr>
			<tr>
				<th>Şehrim</th>
				<td>
					{{ profile.get_city_display }}
				</td>
			</tr>
			{% if post_list %}
				<tr>
					<th>Gönderilerim</th>
					<td>
						<ul>
							{% for post in post_list %}
								<li>
									<a href="{{ post.get_absolute_url }}">{{ post }}</a>
									/
									<a href="{{ post.category.get_absolute_url }}">{{ post.category }}</a>
								</li>
							{% endfor %}
						</ul>
						{% include '_pagination.html' %}
					</td>
				</tr>
			{% endif %}
		</table>	
	</div>
	
{% endblock %}
