{% extends 'main.html' %}

{% block title %} Ayarlar {% endblock %}

{% block content %}
	<div class="page-header">
		<h1>Ayarlar</h1>
	</div>
	
	<div class="span8">

		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-success">
					<a class="close" data-dismiss="alert">×</a>
					{{ message }}
				</div>
			{% endfor %}	
		{% endif %}
				
		<p>
			Merhaba <b>{{ user }}</b>, buradan kişisel bilgilerini düzenleme
			bağlantılarına, profil bilgilerine ve daha bir çok bağlantıya
			ulaşabilirsin.
		</p>
		
		{% if not perms.posts.add_post and not author_request_send %}
			<p>
				Gönderi eklemek mi istiyorsun?<br />
				Bilgilerini paylaşmak mı istiyorsun?<br />
				O halde yazarların arasına katıl.
			</p>
			<a href="{% url became_an_author %}" class="btn btn-primary btn-large">Yazar olmak istiyorum!</a>
		{% endif %}
		
		<br /><br />
		{% include 'users/_controls.html' %}
		
	</div>
{% endblock %}