{% extends 'main.html' %}

{% block title %} Bilgilerini güncelle {% endblock %}

{% block content %}
	<div class="page-header">
		<h1>Kişisel bilgilerin</h1>
	</div>
	
	<form class="form-horizontal" method="post" action="{% url users:update_informations %}">{% csrf_token %}
	<fieldset>
		<legend>Bilgi güncelleme formu</legend>
		
		<div class="control-group">
			<label for="{{ form.email.html_name }}" class="control-label">{{ form.email.label }}</label>
			<div class="controls">
				<input type="email" name="{{ form.email.html_name }}" id="{{ form.email.html_name }}" class="input-xlarge" value="{{ form.email.value }}" />
			</div>
		</div>
		
		<div class="control-group">
			<label for="{{ form.first_name.html_name }}" class="control-label">{{ form.first_name.label }}</label>
			<div class="controls">
				<input type="text" id="{{ form.first_name.html_name }}" name="{{ form.first_name.html_name }}" value="{{ form.first_name.value }}" class="input-xlarge" />
			</div>
		</div>
		
		<div class="control-group">
			<label for="{{ form.last_name.html_name }}" class="control-label">{{ form.last_name.label }}</label>
			<div class="controls">
				<input name="{{ form.last_name.html_name }}" id="{{ form.last_name.html_name }}" value="{{ form.last_name.value }}" type="text" class="input-xlarge" />
			</div>
		</div>								
		
		<div class="form-actions">
			<input type="hidden" name="next" value="{{ next }}" />
			<button class="btn btn-primary" type="submit">Değişiklikleri kaydet</button>
			<a href="{% url users:settings %}" class="btn">Geri</a>
		</div>
		
	</fieldset>
</form>
{% endblock %}
